form {
    .form-input {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: calc($base-spacing/2);
        label {
            margin-bottom: calc($base-spacing/4);
        }
        input {
            padding: calc($base-spacing/4) calc($base-spacing/2);
        }
        textarea {
            padding: calc($base-spacing/2);
        }
    }
}