form {
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: calc($base-spacing/2);
        label {
            margin-bottom: calc($base-spacing/4);
            
        }
        input, textarea {
            padding: calc($base-spacing/3) calc($base-spacing/2);
            background-color: $blue-d;
            color: $white;
            border: none;
            &:focus {
                outline: 2px solid $white;
                background-color: lighten($blue-d,10%);
            }
        }
    }
    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: $base-spacing;
        input {
            width: 50%;
            margin: 0;
            border: none;
        }
    }
    /* == VALIDATION STYLES */
    $red: rgb(206, 33, 27);
    $green: rgb(40, 168, 40);
    .error {
        small {
            color: $red;
        }
        input,textarea {
            border: 2px solid $red !important;
            &:focus {
                border: 2px solid $white !important;
                outline: 4px solid $red !important;
            }
        }
    }

    .success {
        input,textarea {
            border: 2px solid $green !important;
            &:focus {
                border: 2px solid $white !important;
                outline: 4px solid $green !important;
            }
        }
    }


}

.card-form {
    width: 70%;
    margin: auto;
}

.container-form {
    padding: $base-spacing;
}