.container {
    margin-bottom: auto;
    min-height: 100vh;

    @include mq('md'){
        display: flex;
        margin: auto;
        
        border-radius: $base-spacing;
        box-shadow: 1em 1em 4em 2em rgba(0, 0, 0, 0.25);
    }
    .section {
        padding: $base-spacing;
    }

}