.wrapper {
    
    background-color: $blue-xd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    position: relative;

    // @include mq('md') {
    //     justify-content: space-between;
    // }

    main {
        height: 100%;
        align-self: stretch;
    }
}