.card {
    padding: $base-spacing calc($base-spacing/2);
    border: $border-gold;
    border-radius: $base-spacing;
    box-shadow: $base-box-shadow;
    h2, h3, h4 {
        text-align: center;
        small {
            color: $gold;
        }
        a {
            color: $white;
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    &-box {
        $w: 100vw;
        width: calc(($w - 6rem) - 4px);
        max-width: 600px;
        @include mq('md') {
            width: calc((($w / 2) - 5rem) - 4px);
        }
        @include mq('lg') {
            width: 300px;
        }
    }

    .card-content {
        width: 100%;
    }

}