.card {
    padding: $base-spacing calc($base-spacing/2);
    border: $border-gold;
    border-radius: $base-spacing;
    box-shadow: $base-box-shadow;

    h2, h3, h4 {
        text-align: center;
        small {
            color: $gold;
        }
    }

    &-box {
        $w: get-breakpoint('sm');
        width: calc($w - 8rem);
        @include mq('md') {
            width: calc($w - 6rem);
        }
        @include mq('lg') {
            width: calc($w - 4rem);
        }
    }

    .card-content {
        width: 100%;
    }

}