.card-grid {
    display: flex;
    justify-content: space-between;

    gap: calc($base-spacing*2);
    padding: $base-spacing;
    margin: 0 calc(0rem - $base-spacing);

    overflow-x: auto;
    scroll-snap-type: x proximity;
    scroll-padding: $base-spacing;
    .card {
        scroll-snap-align: center;
    }
}