.container {
    // margin-bottom: auto;
    // min-height: 100vh;
    width: 100%;
    max-width: get-breakpoint('xl');
    margin: 0 auto;
}

.section {
    padding: calc($base-spacing/2) $base-spacing;
    
    &-heading {
        text-align: center;
        padding-bottom: calc($base-spacing/4);
        padding-top: calc($base-spacing/2);
    }

    &-description {
        width: 75%;
        max-width: get-breakpoint('md');
        margin: 0 auto;
    }
}