.container {
    // margin-bottom: auto;
    // min-height: 100vh;
    width: 100%;
    max-width: get-breakpoint('xl');
    margin: 0 auto;

    border-bottom: $border-gold;

    .section {
        padding: calc($base-spacing/2) $base-spacing;
    }

    @include mq('sm'){
        // &.full-height {
        //     min-height: 100vh;
        //     height: auto;
        // }
    }
}