.container {
<<<<<<< Updated upstream
    margin-bottom: auto;
    min-height: 100vh;

    .section {
        padding: $base-spacing;
=======
    // margin-bottom: auto;
    min-height: 100vh;
    width: 100%;

    .section {
        padding: calc($base-spacing/2) $base-spacing;
>>>>>>> Stashed changes
    }
}