.horizontal-grid {
    display: flex;
    
    gap: calc($base-spacing*2);
    padding: calc($base-spacing/2) $base-spacing;
    margin-bottom: calc($base-spacing/2);
    border-radius: $base-spacing;

    position: relative;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: $base-spacing;
    
    div {
        scroll-snap-align: center;
    }

    @include mq('xl') {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.box {
    position: relative;
    .touch-indicator-horizontal {
        position: absolute;
        display: block;
        width: 10%;
        // height: 100%;
        bottom: 0;
        left: 45%;
        animation-name: move-right;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}

@keyframes move-right {
    from { left: 50%; }
    to { left: 40%; }
}