.horizontal-grid {
    display: flex;
    // justify-content: center;
    gap: calc($base-spacing*2);
    padding: $base-spacing;
    margin-bottom: calc($base-spacing/2);
    border-radius: $base-spacing;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: $base-spacing;
    
    div {
        scroll-snap-align: center;
    }

    @include mq('lg') {
        justify-content: center;
        flex-wrap: wrap;
    }
}