.nav-menu {
    display: none;
    z-index: 1;

    position: fixed;
    width: 256px;
    height: 100%;
    background-color: $blue-d;

    // padding: $base-spacing;


    @include mq ('lg') {
        display: block;
    }

    ul {
        padding: 0;
        li {
            list-style: none;
            margin: 0;
            a {
                width: 100%;
                margin: 0;
            }
        }
    }

    .nav-social-media {
        text-align: center;
        margin: 0;
        padding: calc($base-spacing/2);
        li {
            display: inline;
            a {
                display: inline-block;
                width: auto;
                background-color: $blue;
                color: $white;
                text-decoration: none;
                text-align: center;
                font-size: 1rem;
                line-height: 1rem;
                padding: calc($base-spacing/2);
                
                border-radius: $base-spacing;

                span {
                    margin: 0;
                }
            }
        }
    }
}