.theme-gold {
    $background: $gold;
    $foreground: $blue-d;
    background-color: $background;
    color: $foreground;

    a {
        color: $foreground;
    }
}

.btn.theme-gold {
    color: $blue-d;
    &:hover {
        color: $blue-d;
        background-color: $gold-l;
    }
}

