.theme-primary {
    $background: $blue-d;
    $foreground: $white;

    background-color: $background;
    color: $foreground;

    hr {
        color: $blue;
    }

    a {
        // background-color: $background;
        color: $gold;
        text-decoration: none;
        &:hover {
            color: $gold-l;
        }
    }
}




