.theme-secondary {
    $background: $blue;
    $foreground: $white;

    background-color: $background;
    color: $foreground;
}

a.theme-secondary {
    &:hover {
        background-color: $blue-l;
    }
}