.theme-secondary {
    $background: #205AD5;
    $foreground: $white;

    background-color: $background;
    color: $foreground;
}

a.theme-secondary {
    &:hover {
        background-color: #63ADF7;
    }
}