.theme-secondary {
    $background: $blue;
    $foreground: $white;

    background-color: $background;
    color: $foreground;
    
    a {
        color: $gold;
        text-decoration: none;
        &:hover {
            color: $gold-l;
        }
    }
}

a.theme-secondary {
    &:hover {
        background-color: $blue-l;
    }
}