* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
    font-family: $base-font-family, sans-serif;
    scroll-snap-type: y mandatory;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-family: $font-heading;
    margin: 0;
}

body {
    header,
    main .section {
        scroll-snap-align: start end;
    }
}